*{
    margin:0;
    box-sizing:border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
/* görsellerin gebişligi yüksekliği transta ise resimlerin daha iyi gözükmesi için yaptım  */
.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
/* row posters display yapmamımızın sebebi yan yana gözükmeleri için  */
.row_posters{
display: flex;
overflow-y: hidden;
/* yana kayması için görsellerin böyle bir class kullandık  */
overflow-x:scroll ;
padding: 20px;

}
.row_poster:hover{
    /* en üsteki görsellere geldiğimizde küçülüp büyümesi için  */
    transform:scale(1.08)
}
.row_posters::-webkit-scrollbar{
    display:none;
    /* saga sola olan çizgileri kaybettim burda  */
}
.row_posterLarge{
    max-height: 250px;

}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.row{
    color: #fff;
    margin-left: 20px;
}
video::-webkit-media-controls-start-playback-button {
    display: none;
}
.banner{
    position: relative;
    color: white;
    object-fit: cover;
    /* yükseklik ve genişliğe göre resmi ayarla  */
    height: 550px;
    width: 100%;
}

.banner_contents{
    position: relative;
    margin-left: 30px;
    height: 190px;
    margin-top: -15%;
}

.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner_button{
    cursor:pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
}

.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

#banner::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #111, transparent);
}
.nav__logo{
    width: 80px;
    object-fit: contain;
}

.nav__avatar{
    width: 30px;
    object-fit: contain;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111;

}































